/*상단 메뉴바 style*/
h1 a{
	text-decoration: none;
	color: #000;
  }
  
  nav {
	  font-size: 13pt;
	  font-family: 'PT Sans', Arial, Sans-serif;
	  position: relative;
	}
	nav ul{
	  padding: 0;
	  margin: 0 auto;
	  width: auto;
	}
	
	nav a{
	  line-height: 100px;
	  height: 50px;
	}
	
	nav li a{
	  box-sizing: border-box;
	  -moz-box-sizing: border-box;
	  -webkit-box-sizing: border-box;
	}
	nav li:last-child a{
	  border-right: 0;
	  }
	
	nav a#pull{
	  display: none;
	}
	html {
	-webkit-touch-callout:none;
	-webkit-tap-highlight-color:rgba(0, 0, 0, 0);
	}
	
	.clearfix ul{
	  /*list-style-type: none;*/
	  margin: 0;
	  padding: 0;
	  /* background-color: #3f3d3d; */
	  text-align: center;
	}
	.clearfix li{
	  /*position: relative;*/
	  display: inline-block;
	}
	.clearfix li a{
	  color: #000000;
	  text-align: center;
	  padding: 14.5px 16px;
	  text-decoration: none;
	}
	.clearfix li a:hover{
	  /*color: #597812;*/
	  color: #fad518;
	  /* font-weight : center; */
	}
	.menu {
	 text-align: center;
	 max-width: 100%;
	 background-position: center;
	 background-size: cover;
	 /* background-color: #333333;color: white; */
	 position: fixed;
	 right: 18px;
	 top: 10px;
	}
	
	/*드롭다운 버튼*/
	button {
	  background-color: #f9f9f9;
	  color: #000;
	  min-width: 90px;
	  padding: 9px;
	  font-size: 13px;
	  border-radius:5px;
	  cursor: pointer;
	
	}
	.dropdown {
	  position: relative;
	  display: block;
	  /* display: flex; */
	  margin-right: 20px;
	}
	.dropdown-content {
	  display: none;
	  position: absolute;
	  background-color: #f9f9f9;
	  /* min-width: 90px; */
	  padding: 0px 40px;
	  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	  z-index: 1;
	  border-radius:5px;
	}
	.dropdown-content a {
	  color: #000000;
	  padding: 0px 10px;
	  text-decoration: none;
	  display: contents;
	  line-height: 50px; 
	  text-align: center;
	  white-space: nowrap;
	  font-size: 16px;
	}
	.dropdown-content a:hover {
	  color: #0a0a23;
	  background-color: #ddd;
	  border-radius:5px;
	}
	.dropdown:hover .dropdown-content {
	  display: block;
	}
	.dropdown:hover .dropbtn {
	  background-color: #f9f9f9;
	}
	  
	.pic img{
	  border: 10px solid rgb(159, 187, 221);
	}
	
	.list ul{
	  border: 10px solid rgb(159, 187, 221);
	  margin-top : 10px;
	  padding: 0;
	  display: inline-block;
	}
	
	.list li {
	  list-style-type: none;
	  display: block;
	}
	
	.list li a {
	  color: #000;
	  font-size: 20px;
	  text-decoration: none;
	  text-align: left;
	  line-height: 50px;
	  padding: 6px;
	}